@font-face {
  font-family: "Basic Grotesque";
  src: url("../assets/fonts/basis_grotesque_pro_font_family/BasisGrotesqueArabicPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Basic Grotesque";
  src: url("../assets/fonts/basis_grotesque_pro_font_family/BasisGrotesqueArabicPro-Black.ttf") format("truetype");
  font-weight: 800 900;
}

@font-face {
  font-family: "Basic Grotesque";
  src: url("../assets/fonts/basis_grotesque_pro_font_family/BasisGrotesqueArabicPro-Bold.ttf") format("truetype");
  font-weight: 500 700;
}

@font-face {
  font-family: "Basic Grotesque";
  src: url("../assets/fonts/basis_grotesque_pro_font_family/BasisGrotesqueArabicPro-Light.ttf") format("truetype");
  font-weight: 100 300;
}

:root {
  --color-primary-50: #fefce8;
  --color-primary-100: #fef9c3;
  --color-primary-200: #fef08a;
  --color-primary-300: #fde047;
  --color-primary-400: #facc15;
  --color-primary-500: #eab308;
  --color-primary-600: #ca8a04;
  --color-primary-700: #a16207;
  --color-primary-800: #854d0e;
  --color-primary-900: #713f12;
  --color-primary-950: #422006;

  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;

  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;

  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;

  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Basic Grotesque";
  color: var(--color-gray-700);
}

i {
  color: inherit;
}

body {
  background-color: var(--color-neutral-100);
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/imgs/grain.png");
  opacity: 0.4;
  background-size: 200px;
  z-index: -1;
  animation: ani-noise 0.5s steps(10) infinite;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
}

span {
  color: inherit;
}

.btn {
  text-transform: uppercase;
  font-weight: 900;
  color: black;
  background-color: var(--color-primary-400);
  padding: 16px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-primary-500);
}

.ball-wrapper {
  --ball-size: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
  animation: ani-fade-in 5s ease 3s forwards;
  filter: blur(100px);
}

.ball-wrapper .traverse-x,
.ball-wrapper .traverse-y {
  display: inline-block;
  width: var(--ball-size);
  height: var(--ball-size);
}

.ball-wrapper .ball {
  width: var(--ball-size);
  height: var(--ball-size);
  display: inline-block;
  border-radius: 50%;
  background-color: var(--color-primary-200);
  overflow: hidden;
  background-image: radial-gradient(circle at bottom right, #4dfcd3, transparent 50%), radial-gradient(circle at left, #d34dfc, transparent 60%);
  animation: ani-spinning 20s linear infinite;
  opacity: 0.7;
}

.ball-wrapper .traverse-x {
  animation: ani-x-traverse 100s ease infinite;
}

.ball-wrapper .traverse-y {
  animation: ani-y-traverse 80s ease infinite;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 4px;
}

.nav-bar {
  padding: 8px;
  border-radius: 12px;
  backdrop-filter: blur(3px);
  background-color: rgb(255, 255, 255, 0.7);
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.7s var(--ease-out-quart, ease) 0.5s;
  z-index: 9999;
  width: 300px;
}

.nav-bar[data-open="true"] {
  transition-delay: 0s;
  width: 768px;
}

.nav-bar > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .nav-btn {
  background-color: var(--color-primary-500);
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.nav-bar .nav-btn > div {
  position: relative;
  transition: all 0.7s var(--ease-out-quart, ease);
  width: 40%;
}

.nav-bar .nav-btn > div > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.7s var(--ease-out-quart, ease);
  background-color: black;
}

.nav-bar .nav-btn > div > span:first-child {
  transform: translateY(-4px);
}

.nav-bar .nav-btn > div > span:last-child {
  transform: translateY(4px);
  width: 50%;
}

.nav-bar[data-open="true"] .nav-btn > div {
  transform: rotate(-180deg);
}

.nav-bar[data-open="true"] .nav-btn > div > span:first-child {
  transform: translateY(0) rotate(45deg);
}

.nav-bar[data-open="true"] .nav-btn > div > span:last-child {
  transform: translateY(0) rotate(-45deg);
  width: 100%;
}

.nav-bar .theme-btn {
  background-color: var(--color-zinc-200);
  width: 48px;
  height: 48px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.nav-bar .theme-btn > div {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.7s var(--ease-out-quart, ease);
  color: black;
  height: 100%;
}

.nav-bar .theme-btn > div > i:last-child {
  transform: rotate(180deg);
}

.nav-bar .theme-btn > div > i {
  color: black;
}

.nav-bar .theme-btn[data-theme="dark"] > div {
  transform: translate(-50%, -50%) rotate(180deg);
}

.nav-bar .logo {
  width: 50px;
  overflow: hidden;
}

.nav-bar .logo img {
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

.nav-bar[data-open="true"] .logo img {
  transform: translateY(-110%);
  transition-delay: 0s;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  z-index: -1;
}

.nav-bar .nav-links::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-zinc-200);
  border-radius: 8px;
  width: var(--ele-width, 0px);
  height: var(--ele-height, 0px);
  transform: translate(var(--ele-pos-x, 0px), var(--ele-pos-y, 0px));
  opacity: var(--ele-opacity, 0);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-bar .nav-links > li {
  transition: transform 0.7s var(--ease-out-quart, ease);
  cursor: pointer;
  transform: translateY(100%);
  padding: 8px 18px;
  white-space: nowrap;
  font-size: 1rem;
}

.nav-bar .nav-links > li:hover {
  text-decoration: underline;
}

.nav-bar[data-open="true"] .nav-links {
  z-index: 1;
}

.nav-bar[data-open="true"] .nav-links > li {
  transform: translateY(0);
}

section {
  margin-bottom: 56px;
}

section:first-of-type,
section:last-of-type {
  margin: 0;
}

.section-title {
  font-size: 3rem;
}

.about-section .hero {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 0;
  height: 100vh;
}

.about-section .hero .name-wrapper {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-section .hero .name-wrapper .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  font-size: 2rem;
  transform: translate(100px);
}

.about-section .hero .name-wrapper > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-section .hero .name-wrapper > div {
  animation: ani-blur-fade-up 1.5s ease 3s forwards;
  opacity: 0;
}

.about-section .hero .name-wrapper h1 {
  line-height: 1;
  color: var(--color-primary-500);
  text-transform: uppercase;
  font-size: 15rem;
  font-weight: 900;
}

.about-section .hero .name-wrapper:last-of-type h1 {
  color: transparent;
  -webkit-text-stroke: 3px var(--color-primary-500);
}

.about-section .hero .me-png {
  position: relative;
  height: 90vh;
  opacity: 0;
  animation: ani-blur-fade-up 2s ease 2.5s forwards;
}

.about-section .hero .me-png img {
  object-position: bottom center;
}

.drag-fx,
.drag-inv-fx {
  transform: translate(0px, 0px);
  transition: transform 0.1s linear;
}

.fade-mask {
  -webkit-mask-image: linear-gradient(black 0%, black 85%, transparent 100%);
  mask-image: linear-gradient(black 0%, black 85%, transparent 100%);
}

.about-section .about-me {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
  z-index: 1;
}

.about-section .about-me article {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
}

.about-section .about-me article p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.7vw;
}

.about-section .about-me article p span {
  transition: all 0.3s ease;
  line-height: 1;
}

.edu-and-exp-section {
  display: flex;
  gap: 16px;
}

.edu-and-exp-section > div {
  flex: 1;
}

.edu-and-exp-section .e-wrapper {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 8px;
}

.edu-and-exp-section .e-wrapper .e-item {
  display: flex;
  gap: 50px;
  padding-left: 18px;
}

.edu-and-exp-section .e-wrapper .e-item .v-line {
  --line-color: #374151;
  width: 2px;
  background: linear-gradient(var(--line-color), var(--line-color) 7px, transparent 7px, transparent 14px);
  background-size: 100% 14px;
  /* animation: ani-bg-v-line 22s infinite linear; */
  margin-top: 34px;
  position: relative;
}

.edu-and-exp-section .e-wrapper .e-item .v-line div {
  position: absolute;
  top: 0;
  left: 1px;
  width: 38px;
  height: 38px;
  transform: translate(-50%, -100%);
  /* animation: ani-spining-ball-v-line 22s infinite linear; */
  border-radius: 50%;
  border: 2px dashed var(--line-color);
  box-shadow: inset 0px 0px 0px 10px transparent;
}

.edu-and-exp-section .e-wrapper .e-item .v-line div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-primary-400);
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.edu-and-exp-section .e-wrapper .e-item .e-details {
  padding-bottom: 50px;
}

.edu-and-exp-section .e-wrapper .e-item .e-details > * {
  margin-bottom: 8px;
}

.edu-and-exp-section .e-wrapper .e-item .e-details > h2 {
  color: var(--color-gray-400);
  font-size: 1rem;
  font-weight: 400;
}

.skill-section .skill-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  align-items: flex-start;
  margin-bottom: 64px;
  margin-top: 32px;
}

.skill-section .skill-wrapper .skill {
  position: relative;
  border-radius: 12px;
  padding: 16px 22px;
  overflow: hidden;
  background-color: var(--skill-bg-offset-color);
}

.skill-section .skill-wrapper .skill div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 12px;
  background-image: linear-gradient(to right, transparent, var(--skill-bg-color));
}

.skill-section .skill-wrapper .skill h1 {
  position: relative;
}

.work-section > div {
  margin-top: 24px;
}

.work-section .portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.work-section .portfolio-grid > .tilting-wrapper {
  transition: all 0.7s ease;
}

.work-section .portfolio-grid > .tilting-wrapper > .tilting-body {
  transition: all 0.7s ease;
  background-color: transparent;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}

.work-section .portfolio-grid > .tilting-wrapper:hover {
  /* transform: scale(1.05); */
  scale: 1.05;
}

.work-section .portfolio-grid > .tilting-wrapper:hover > .tilting-body {
  background-color: black;
}

.work-section .portfolio-grid > .tilting-wrapper > .tilting-body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
  transition: all 0.7s ease;
}

.work-section .portfolio-grid > .tilting-wrapper:hover > .tilting-body::after {
  background-color: rgb(0, 0, 0, 0.5);
}

.work-section .portfolio-grid > .tilting-wrapper:hover > .tilting-body img {
  opacity: 0.8;
}

.work-section .portfolio-grid img {
  width: 100%;
  transition: all 0.7s ease;
  border-radius: 12px;
}

.work-section .portfolio-grid > .tilting-wrapper > .tilting-body .top-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 16px;
  z-index: 2;
  opacity: 0;
  transition: all 0.7s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work-section .portfolio-grid > .tilting-wrapper > .tilting-body .top-layer p {
  color: white;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.3;
}

.work-section .portfolio-grid > .tilting-wrapper:hover > .tilting-body .top-layer {
  opacity: 1;
}

.work-section .portfolio-grid > .tilting-wrapper > .tilting-body .top-layer > div:last-child {
  text-align: right;
}

.contact-section {
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.contact-section .contact-links-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.contact-section .contact-links-container > div {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.contact-section .contact-links-container > div ul {
  list-style: none;
}

.contact-section .contact-links-container > div ul li {
  font-weight: 600;
}

.contact-section .contact-links-container > div .personal {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  justify-content: space-between;
}

.contact-section .contact-links-container > div .personal li,
.contact-section .contact-links-container > div .personal li span {
  color: var(--color-gray-400);
}

.contact-section .contact-links-container > div .social-media {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 5rem;
  font-size: 3rem;
  font-weight: 900;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.click-copy {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.click-copy button {
  font-size: 1rem;
  color: var(--color-gray-400);
  opacity: 0;
  transition: all 0.3s;
}

.click-copy:hover button {
  opacity: 1;
}

.aos-fade-in {
  animation: ani-aos-fade-in 1s ease forwards;
}

[data-aos="fade-in"] {
  opacity: 0;
}

.aos-slide-in-left {
  animation: ani-aos-slide-in-left 1s ease forwards;
}

[data-aos="slide-in-left"] {
  transform: translateX(-100%);
}

body[data-theme="dark"] {
  background-color: var(--color-neutral-800);
}

body[data-theme="dark"] .btn,
body[data-theme="dark"] .btn * {
  color: black;
}

body[data-theme="dark"]::after {
  background-image: url("../assets/imgs/grain_dark.png");
}

body[data-theme="dark"] .ball-wrapper .ball {
  opacity: 0.5;
}

body[data-theme="dark"] * {
  color: var(--color-gray-200);
}

body[data-theme="dark"] .nav-bar {
  background-color: rgb(0, 0, 0, 0.4);
}

body[data-theme="dark"] .nav-bar .nav-links::before {
  background-color: var(--color-zinc-500);
}

body[data-theme="dark"] .edu-and-exp-section .e-wrapper .e-item .v-line {
  --line-color: #d1d5db;
}

body[data-theme="dark"] .edu-and-exp-section .e-wrapper .e-item .e-details > h2 {
  color: var(--color-gray-300);
}

body[data-theme="dark"] .skill-section .skill-wrapper .skill {
  background-color: transparent;
  box-shadow: inset 0 0 10px 3px var(--skill-bg-offset-color);
}

body[data-theme="dark"] .nav-bar .logo img {
  filter: invert(0.9);
}

body[data-theme="dark"] .contact-section .contact-links-container > div .personal li,
body[data-theme="dark"] .contact-section .contact-links-container > div .personal li span {
  color: var(--color-gray-300);
}

.intro {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  height: 100dvh;
  width: 100%;
  z-index: 9999;
}

.intro > div:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: ani-slide-down 1.2s var(--ease-out-quart, ease) 2s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro > div > div {
  overflow: hidden;
  width: 200px;
}

.intro img {
  transform: translateY(110%);
  animation: ani-slide-up 1.5s var(--ease-out-quart, ease) 0.5s forwards;
}
